<h2>My Notes</h2>
<div class="notes row row-cols-1 row-cols-md-3 g-4 mt-3 mx-3 " *ngIf="notes.length > 0; else elseBlock">
    <div *ngFor="let note of notes">
        <div class="col">
            <div class="card" [routerLink]="['/note', note.note_id]">
                <div class="card-body">
                    <h5 class="card-title">{{note.titel}}</h5>
                    <p class="card-text" [innerHTML]="note.content"></p>
                </div>
                <div class="card-footer">
                    <span class="fs-8">Created: {{note.created}}</span> <br>
                    <span class="fs-8">Last Changed: {{note.lastChanged}}</span> 
                </div>
            </div>
        </div>
    </div> 
</div>
<ng-template #elseBlock>You have no Notes yet
    <br>
    create a new Note here: "Link zur Noteerstellung"

</ng-template>