html { background-color: #44475a; }
body{
    background-color: #44475a;
}
.head{
    width: 100%;
    margin-left: 0;
}
.notes{
    background-color:  #44475a;
}
.card:hover{
    border-color: #50fa7b;
    cursor: pointer;
}
.card{
    border-width: 0.25em;
    background-color: #f8f8f2;
}
.card-text{
    max-height: 4em;
    min-height: 4em;    
    text-overflow: ellipsis;
    overflow: hidden;

}
.card-footer{
    background-color: #dfdfdf;
}
.elseBlock{
    color: #f8f8f2;
}
.newbutton{
    border-color: #50fa7b;
    color: #50fa7b;
}
.newbutton:hover{
    background-color: #50fa7b;
    color: black;
}