<div class=" mt-5"> 
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search" value=" " [(ngModel)]="searchterm" >
          </div>

          <div class="form-check mb-3" *ngIf="this.isLogin">
            <input class="form-check-input" type="checkbox" [(ngModel)]="searchPublic">
            <label class="form-check-label">Öffentliche Notizen</label>
            <br>
            <input class="form-check-input" type="checkbox" [(ngModel)]="searchPrivate">
            <label class="form-check-label">Private Notizen</label>
          </div>

          <div class="input-group">
            <button class="btn button" type="button" (click)="navigateToSearch()">Suchen</button>
          </div>
          <p class="text-muted mt-3" *ngIf="searchterm">Suchbegriff: {{ searchterm }}</p>
        </div>
      </div>
    </div>
  </div>
      <div class="mt-4 row">
        <hr>
            <ul class="notes" style="list-style-type:none;">
              <div class="notes row row-cols-1 row-cols-md-3 g-4 mt-3 mx-3 " *ngIf="this.searchResults.length > 0; else elseBlock">
                <div *ngFor="let note of searchResults">
                  <div class="col">
                    <div class="card cardRes" [routerLink]="['/note', note.note_id]">
                      <div class="card-body">
                        <h5 class="card-title">{{note.titel}}</h5>
                        <p class="card-text" [innerHTML]="note.content"></p>
                      </div>
                      <div class="card-footer">
                        <span class="fs-8"><b>Created:</b> {{note.created}}</span> <br>
                        <span class="fs-8"><b>Last Changed:</b> {{note.lastChanged}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ng-template #elseBlock >
                <div class="elseBlock text-center">
                  No search results found
                </div>
              </ng-template>
            </ul>
          </div>
</div>
