<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Suche" [(ngModel)]="searchTerm">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" (click)="navigateToSearch()">Suchen</button>
        </div>
      </div>
      <p class="text-muted mt-3" *ngIf="searchTerm">Suchbegriff: {{ searchTerm }}</p>

      <div *ngIf="searchTerm" class="mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Suchergebnisse</h5>
            <ul class="notes" style="list-style-type:none;">

              <div class="notes row row-cols-1 row-cols-md-3 g-4 mt-3 mx-3 " *ngIf="searchResults.length > 0; else elseBlock">
                <div *ngFor="let note of searchResults">
                  <div class="col">
                    <div class="card" [routerLink]="['/note', note.note_id]">
                      <div class="card-body">
                        <h5 class="card-title">{{note.titel}}</h5>
                        <p class="card-text" [innerHTML]="note.content"></p>
                      </div>
                      <div class="card-footer">
                        <span class="fs-8">Created: {{note.author}}</span> <br>
                        <span class="fs-8">Created: {{note.created}}</span> <br>
                        <span class="fs-8">Last Changed: {{note.lastChanged}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <ng-template #elseBlock>
                No public Notes createt yet
              </ng-template>


            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
