<div class='row m-0 w-100'>
    <div class='col-md-4 offset-4 mt-5'>
        <div class="card mx-5 mt-5">
            <div class="card-header">
                <h4>Update Note</h4>
            </div>
        
            <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                <div class="card-body">
                    <input class="form-control" id="titel" type="text" formControlName="titel">
                    <textarea class="form-control" id="content" rows="10" formControlName="content"></textarea>
                    <textarea class="form-control" id="youtube" rows="1" formControlName="youtube"></textarea>

                </div>  
                <div class="card-footer">
                    <div class="row">
                        <div class='col  text-start form-group form-check mx-3 my-2'>
                            <input class="form-check-input" type="checkbox" value="" id="isPrivate" formControlName="isPrivate">
                            <label class="form-check-label" for="flexCheckChecked">Note is private:</label>
                        </div>
                        <div class="col text-end">
                            <input class='btn submitbutton' type="submit" value="UpdateNote">
                        </div>
                    </div>
                </div>
            </form>
        </div>   
    </div>
</div>