<div class='row m-0 w-100'>
    <div class='col-md-4 offset-4 mt-5' *ngIf='!this.isLogin'>
        <div class="card">
            <h4 class="card-title mx-3 mt-3">Login</h4>
            <div class="card-body">
                <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
                    <div class='form-group'><input class='form-control' type="text" name="username" placeholder="Username"
                            ngModel></div>
                    <div class='form-group my-2'><input class='form-control' type="password" name="password" placeholder="Password"
                            ngModel></div><input class='btn loginbtn' type="submit" value="Login">
                </form>
            </div>
        </div>
    </div>
    <div class='col-md-4 offset-4 mt-5' *ngIf='this.isLogin'>
        <h1>You are logged in</h1><button class='btn btn-outline-info' (click)='logout()'>Log-out</button>

        <!-- <youtube-player 
        videoId="7Fncun4ObQk" 
        suggestedQuality="highres" 
        [height]="250" 
        [width]="500" 
        [startSeconds]="4"
        [endSeconds]="8">
        </youtube-player> -->
    </div>
</div>
<script src="https://www.youtube.com/iframe_api"></script>