<!--Src: https://getbootstrap.com/docs/5.3/components/card/-->

<div class="notes row row-cols-1 row-cols-md-3 g-4 mt-3 mx-3 " *ngIf="notes.length > 0; else elseBlock">
    <div *ngFor="let note of notes">
        <div class="col">
            <div class="card" [routerLink]="['/note', note.note_id]">
                <div class="card-header">
                    <div class="row">
                        <div class="col text-start fs-5">{{note.titel}}</div>
                        <div class="col text-end">By {{note.username}}</div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text" [innerHTML]="note.content"></p>
                </div>
                <div class="card-footer">
                    <span class="fs-8"><b>Created:</b> {{note.created}}</span> <br>
                    <span class="fs-8"><b>Last Changed:</b> {{note.lastChanged}}</span> 
                </div>
            </div>
        </div>
    </div> 
</div>

<ng-template #elseBlock>
    No public Notes createt yet
</ng-template>

